
@{
    ViewData["Title"] = "Bem Vindo Goldman!";
}
<!DOCTYPE html>
<html lang="pt-br">
<div class="text-center">
    <h1 class="display-4">Equipe Goldman!</h1>

    <h5>Patricia Rainha</h5>
    <h5>Thiago Amorim</h5>
    <h5>Vinicius Sanches</h5>
    <h5>Victor Lourenço</h5>
</div>
</html>